.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  align-items: left;
  padding-top: 3rem;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-bottom: 14rem;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.projects {
  display: flex;
  align-items: left;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .main  {
    padding: 2rem;
  }
}